@using MiPrimeraAppNetCore.Clases;
@model IEnumerable<PersonaCLS>
@{
    ViewData["Title"] = "Index";
    List<SelectListItem> listaSexo = ViewBag.listaSexo;
}

<a class="btn btn-outline-primary" asp-action="Agregar" asp-controller="Persona">Agregar Persona</a>
<hr />

<form id="frmEnviar" asp-controller="Persona" asp-action="Index"
      method="post" style="display:grid; grid-template-columns: 1fr 2fr 1fr 1fr"
      class="mr-2">

    <label>Ingrese sexo</label>
    @Html.DropDownList("iidSexo", listaSexo, new { @class = "form form-control" })
    <input type="submit" class="btn btn-outline-primary" value="Buscar" />
    <input type="button" class="btn btn-outline-warning" value="Limpiar"
           onclick="Limpiar()" />
</form>

<h1 class="text-center">listado de personas</h1>
<table class="table" id="tabla">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.iidPersona)</th>
            <th>@Html.DisplayNameFor(model => model.nombreCompleto)</th>
            <th>@Html.DisplayNameFor(model => model.email)</th>
            <th>@Html.DisplayNameFor(model => model.nombreSexo)</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody id="tbDatos">
        @foreach (PersonaCLS item in Model)
        {
            <tr>
                <td>@item.iidPersona</td>
                <td>@item.nombreCompleto</td>
                <td>@item.email</td>
                <td>@item.nombreSexo</td>
                <td>
                    Eliminar
                    <i class="fa fa-trash btn btn-danger" aria-hidden="true"
                       onclick="EliminarPersona(@item.iidPersona)">
                    </i>

                    boton editar
                    <a class="fa fa-edit btn btn-primary" aria-hidden="true"
                       asp-controller="Persona" asp-action="Editar"
                       asp-route-id="@item.iidPersona">

                    </a>


                </td>
            </tr>

        }

    </tbody>

</table>

<!--formulario para eliminar-->
<form asp-action="Eliminar" asp-controller="Persona"
      method="post" id="frmEnviarEliminar">
    <input type="hidden" id="txtIdPersonaEliminar" name="iidPersona" />
</form>

<script src="~/js/sweetAlert.js"></script>
<script src="~/js/generic.js"></script>

<script>

    window.onload = function () {
        pintar()
    }

    // funcion table.js
    window.onload = function () {
        $(document).ready(function () {
            $('#tabla').DataTable();
        });

    }

    function Limpiar() {
        document.getElementById("iidSexo").value = "";
        document.getElementById("frmEnviar").submit();
    }

    function EliminarPersona(idPersona) {
        //se iguala con el formulario y el contralor
        document.getElementById("txtIdPersonaEliminar").value = idPersona;

        mostrarModal().then(res => {
            //si presiona aceptar
            if (res.value) {
                var frmEnviarEliminar = document.getElementById("frmEnviarEliminar");
                frmEnviarEliminar.submit();

            }
        })

    }
</script>