@using MiPrimeraAppNetCore.Clases;
@model IEnumerable<EspecialidadCLS> 
@{
    ViewData["Title"] = "Index";
    string mensaje = ViewBag.mensaje;
    string nombreEspecialidad = ViewBag.nombreEspecialidad;
}

<form asp-controller="Especialidad" asp-action="Index" method="post" class="mb-2"
      style="display:grid; grid-template-columns:1fr 2fr 1fr 1fr" id="frmFormulario">
    <label>Ingrese nombre especialidad</label>
    <input type="text" id="nombre" class="form form-control" name="nombre" value="@nombreEspecialidad" />
    <input type="submit" value="Buscar" class="btn btn-info" />
    <input type="button" value="Limpiar" class="btn btn-warning" onclick="Limpiar()"/>
</form>

<h1 class="text-center">lista de especialidad</h1>
@*<h1>@mensaje</h1>*@
<table class="table table-dark">
    <thead class="bg-primary">
        <tr>
            <th>@Html.DisplayNameFor(model=>model.iidespecilidad)</th>
            <th>@Html.DisplayNameFor(model=>model.nombre)</th>
            <th>@Html.DisplayNameFor(model => model.descripcion)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EspecialidadCLS item in Model)
        {
        <tr>
            <td>@item.iidespecilidad</td>
            <td>@item.nombre</td>
            <td>@item.descripcion</td>
        </tr>

        }

    </tbody>

</table>

<script>
    function Limpiar() {
        //limpia el boton con el id nombre
        document.getElementById("nombre").value = "";
        //al momento de presionar limpiar vuelve a recargar la pagina
        document.getElementById("frmFormulario").submit();



    }
</script>
