@using MiPrimeraAppNetCore.Clases;
@model IEnumerable<EspecialidadCLS> 
@{
    ViewData["Title"] = "Index";
    string mensaje = ViewBag.mensaje;
    string nombreEspecialidad = ViewBag.nombreEspecialidad;
}


<a class="btn btn-dark" asp-action="Agregar" asp-controller="Especialidad">Agregar</a>


<form asp-controller="Especialidad" asp-action="Index" method="post" class="mb-2"
      style="display:grid; grid-template-columns:1fr 2fr 1fr 1fr" id="frmFormulario">
    <label>Ingrese nombre especialidad</label>
    <input type="text" id="nombre" class="form form-control" name="nombre" value="@nombreEspecialidad" />
    <input type="submit" value="Buscar" class="btn btn-info" />
    <input type="button" value="Limpiar" class="btn btn-warning" onclick="Limpiar()"/>
</form>

<h1 class="text-center">lista de especialidad</h1>

<table class="table table-hover table-dark table-bordered">
    <thead  >
        <tr>
            <th>@Html.DisplayNameFor(model=>model.iidespecilidad)</th>
            <th>@Html.DisplayNameFor(model=>model.nombre)</th>
            <th>@Html.DisplayNameFor(model => model.descripcion)</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EspecialidadCLS item in Model)
        {
        <tr>
            <td>@item.iidespecilidad</td>
            <td>@item.nombre</td>
            <td>@item.descripcion</td>
            <td>

                <i class="fa fa-trash btn btn-danger" aria-hidden="true"
                   onclick="EliminarEspecialidad(@item.iidespecilidad)">
                </i>
            </td>
        </tr>

        }

    </tbody>

</table>

<!--formulario para eliminar-->
<form asp-action="Eliminar" asp-controller="Especialidad"
      method="post" id="frmEnviarEliminar">
    <input type="hidden" id="txtIdEspecialidad" name="iidespecilidad"/>
</form>

<!--importacion de sweetAlert-->
<script src="~/js/sweetAlert.js"></script>
<script src="~/js/generic.js"></script>

<!--scripts-->
<script>
    function Limpiar() {
        //limpia el boton con el id nombre
        document.getElementById("nombre").value = "";
        //al momento de presionar limpiar vuelve a recargar la pagina
        document.getElementById("frmFormulario").submit();

    }

    function EliminarEspecialidad(iidespecilidad) {
        document.getElementById("txtIdEspecialidad").value = iidespecilidad;

        mostrarModal().then(res => {
            if (res.value) {
                var frmEnviarEliminar = document.getElementById("frmEnviarEliminar");
                frmEnviarEliminar.submit();
            }
        })

    }
</script>
