@using MiPrimeraAppNetCore.Clases;
@model IEnumerable<EspecialidadCLS> 
@{
    ViewData["Title"] = "Index";
    string mensaje = ViewBag.mensaje;
    string nombreEspecialidad = ViewBag.nombreEspecialidad;
}

<!--BOTON AGREGAR Y BOTONES PARA EXPORTAR-->
<a class="btn btn-dark" asp-action="Agregar" asp-controller="Especialidad">Agregar</a>
<input type="button" value="exportar Excel" class="btn btn-dark"  onclick="ExportarExcel()"/>
<input type="button" value="exportar word" class="btn btn-dark" onclick="ExportarWord()" />
<input type="button" value="exportar PDF" class="btn btn-dark" onclick="ExportarPdf()" />
<input type="button" value="Imprimir" class="btn btn-dark" onclick="Imprimir()" />

<!--FORMULARIO PARA BUSCAR Y LIMPIAR-->
<div @*asp-controller="Especialidad" asp-action="Index" method="post"*@ class="mb-2"
      style="display:grid; grid-template-columns:1fr 2fr 1fr 1fr" id="frmFormulario">
    <label>Ingrese nombre especialidad</label>
    <input type="text" id="nombre" class="form form-control" name="nombre" value="@nombreEspecialidad" />
    <input type="button" value="Buscar" class="btn btn-info" onclick="Buscar()" />
    <input type="button" value="Limpiar" class="btn btn-warning" onclick="Limpiar()"/>
</div>

<h1 class="text-center">lista de especialidad</h1>
<!--FORMULARIO PARA EXPORTAR ADEMAS TIENE UNA TABLA-->
<form asp-controller="Especialidad" asp-action="Exportar" id="frmReporte">
    <table class="table" id="tabla">
        @*<a asp-action="exportarExcel" asp-controller="Especialidad">Exportar Excel</a>*@
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.iidespecilidad)</th>
                <th>@Html.DisplayNameFor(model => model.nombre)</th>
                <th>@Html.DisplayNameFor(model => model.descripcion)</th>
                <th>Operaciones</th>

            </tr>
            <tr id="tcheckbox">
                <!--nombrePropiedades= del metodo exportar excel-->
                <th >
                    <input type="checkbox" checked name="nombrePropiedades" value="iidespecilidad" />
                    <input type="hidden" name="tipoReporte" id="tipoReporte"/> 
                </th>
                <th><input type="checkbox" checked name="nombrePropiedades"  value="nombre"/></th>
                <th><input type="checkbox" checked name="nombrePropiedades" value="descripcion" /></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbDatos">
            @*@foreach (EspecialidadCLS item in Model)
            {
                <tr class="text-dark">
                    <td>@item.iidespecilidad</td>
                    <td>@item.nombre</td>
                    <td>@item.descripcion</td>
                    <td>
                        boton eliminar
                        <i class="fa fa-trash btn btn-danger" aria-hidden="true"
                           onclick="EliminarEspecialidad(@item.iidespecilidad)">
                        </i>

                        boton editar
                        <a class="fa fa-edit btn btn-primary" aria-hidden="true"
                           asp-controller="Especialidad" asp-action="Editar"
                           asp-route-id="@item.iidespecilidad">

                        </a>
                    </td>
                </tr>

            }*@

        </tbody>

    </table>
</form>

<!--formulario para eliminar-->
<form asp-action="Eliminar" asp-controller="Especialidad"
      method="post" id="frmEnviarEliminar">
    <input type="hidden" id="txtIdEspecialidad" name="iidespecilidad"/>
</form>

<!--importacion de sweetAlert-->
<script src="~/js/sweetAlert.js"></script>
<script src="~/js/generic.js"></script>

<!--scripts-->
<script>

    window.onload = function () {

    
        var url = "Especialidad/listarEspecialidad";
        pintar(url);

    

    }

    function Buscar() {

        var nombre = document.getElementById("nombre").value;
        var url = "Especialidad/buscarEspecialidad/?nombreEspecialidad=" + nombre;
        pintar(url);

        //var contenido = "";
        //var tbody = document.getElementById("tbDatos");
        //$.get("Especialidad/buscarEspecialidad/?nombreEspecialidad=" + nombre, function (data) {
        //    for (var i = 0; i < data.length; i++) {

        //        contenido += "<tr>";
        //        contenido += "<td>" + data[i].iidespecilidad + "</td>";
        //        contenido += "<td>" + data[i].nombre + "</td>";
        //        contenido += "<td>" + data[i].descripcion + "</td>";
        //        contenido += `
        //        <td>
                        
        //                <i class="fa fa-trash btn btn-danger" aria-hidden="true"
        //                   onclick="EliminarEspecialidad(${data[i].iidespecilidad})">
        //                </i>

                        
        //                <a class="fa fa-edit btn btn-primary" aria-hidden="true"
        //                   asp-controller="Especialidad" asp-action="Editar"
        //                   asp-route-id="${data[i].iidespecilidad}">

        //                </a>
        //            </td>
        //        `

        //        contenido += "</tr>";


        //    }

        //    tbody.innerHTML = contenido;
        //})
    }

    function pintar(url) {

        var contenido = "";
        var tbody = document.getElementById("tbDatos");
        $.get(url, function (data) {
            for (var i = 0; i < data.length; i++) {

                contenido += "<tr>";
                contenido += "<td>" + data[i].iidespecilidad + "</td>";
                contenido += "<td>" + data[i].nombre + "</td>";
                contenido += "<td>" + data[i].descripcion + "</td>";
                contenido += `
                <td>
                        
                        <i class="fa fa-trash btn btn-danger" aria-hidden="true"
                           onclick="EliminarEspecialidad(${data[i].iidespecilidad})">
                        </i>

                        
                        <a class="fa fa-edit btn btn-primary" aria-hidden="true"
                           asp-controller="Especialidad" asp-action="Editar"
                           asp-route-id="${data[i].iidespecilidad}">

                        </a>
                    </td>
                `

                contenido += "</tr>";


            }

            tbody.innerHTML = contenido;
        })

    }


    function Limpiar() {
        //limpia el boton con el id nombre
        document.getElementById("nombre").value = "";
        //al momento de presionar limpiar vuelve a recargar la pagina
        document.getElementById("frmFormulario").submit();

    }

    function EliminarEspecialidad(iidespecilidad) {
        document.getElementById("txtIdEspecialidad").value = iidespecilidad;
        mostrarModal().then(res => {
            if (res.value) {
                //var frmEnviarEliminar = document.getElementById("frmEnviarEliminar");
                //frmEnviarEliminar.submit();
                $.get("Especialidad/Eliminar/?iidespecilidad="+iidespecilidad, function (respuesta) {
                    if (respuesta == 1) {
                        pintar("Especialidad/listarEspecialidad");

                    }

                })
            }
        })

    }
</script>
