@model IEnumerable<MiPrimeraAppNetCore.Clases.PaginaCLS>

@{
    ViewData["Title"] = "Index";
    string mensaje = ViewBag.mensaje;
}
<a class="btn btn-outline-dark" asp-action="Agregar" asp-controller="Pagina">Nuevo</a>
<form asp-controller="Pagina" asp-action="Index" method="post" class="mb-2"
      style="display:grid; grid-template-columns:1fr 2fr 1fr 1fr" id="frmFormulario">
    <label>Ingrese mensaje</label>
    <input type="text" id="mensaje" class="form form-control" name="mensaje" value="@mensaje" />
    <input type="submit" value="Buscar" class="btn btn-info" />
    <input type="button" value="Limpiar" class="btn btn-warning" onclick="Limpiar()" />
</form>

<!--Botones para exportar-->
<a class="btn btn-dark" asp-action="Agregar" asp-controller="Especialidad">Agregar</a>
<input type="button" value="exportar Excel" class="btn btn-dark" onclick="ExportarExcel()" />
<input type="button" value="exportar word" class="btn btn-dark" onclick="ExportarWord()" />
<input type="button" value="exportar PDF" class="btn btn-dark" onclick="ExportarPdf()" />
<input type="button" value="Imprimir" class="btn btn-dark" onclick="Imprimir()" />

<h1 class="text-center">listado Pagina</h1>

<form asp-controller="Pagina" asp-action="Exportar" id="frmReporte">
    <table class="table " id="tabla">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.iidPagina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mensaje)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.accion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.controlador)
                </th>
                <th>
                    Operaciones
                </th>

            <tr id="tcheckbox">
                <!--nombrePropiedades= del metodo exportar excel-->
                <th>
                    <input type="checkbox" checked name="nombrePropiedades" value="iidPagina" />
                    <input type="hidden" name="tipoReporte" id="tipoReporte" />
                </th>
                <th><input type="checkbox" checked name="nombrePropiedades" value="mensaje" /></th>
                <th><input type="checkbox" checked name="nombrePropiedades" value="accion" /></th>
                <th><input type="checkbox" checked name="nombrePropiedades" value="controlador" /></th>
                <th></th>
            </tr>
           
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.iidPagina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mensaje)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.accion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.controlador)
                    </td>
                    <td>
                        <i class="fa fa-trash btn btn-danger" aria-hidden="true"
                           onclick="EliminarPagina(@item.iidPagina)">
                        </i>

                        <!--boton editar-->
                        <a class="fa fa-edit btn btn-primary" aria-hidden="true"
                           asp-controller="Pagina" asp-action="Editar"
                           asp-route-id="@item.iidPagina">

                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </form>

    <form asp-action="Eliminar" asp-controller="Pagina"
          method="post" id="frmEliminar">

        <input id="txtId" name="iidPagina" type="hidden" />
    </form>

    <script src="~/js/sweetAlert.js"></script>
    <script src="~/js/generic.js"></script>

    <script>

      

        function Limpiar() {
            document.getElementById("mensaje").value = "";
            document.getElementById("frmFormulario").submit();

        }

        function EliminarPagina(idpagina) {
            document.getElementById("txtId").value = idpagina;

            mostrarModal().then(res => {
                if (res.value) {
                    var frmEliminar = document.getElementById("frmEliminar");
                    frmEliminar.submit();
                }
            })

        }

    </script>
