@model IEnumerable<MiPrimeraAppNetCore.Clases.PaginaCLS>

@{
    ViewData["Title"] = "Index";
    string mensaje = ViewBag.mensaje;
}
<a class="btn btn-outline-dark" asp-action="Agregar" asp-controller="Pagina">Nuevo</a>
<form asp-controller="Pagina" asp-action="Index" method="post" class="mb-2"
      style="display:grid; grid-template-columns:1fr 2fr 1fr 1fr" id="frmFormulario">
    <label>Ingrese mensaje</label>
    <input type="text" id="mensaje" class="form form-control" name="mensaje" value="@mensaje" />
    <input type="submit" value="Buscar" class="btn btn-info" />
    <input type="button" value="Limpiar" class="btn btn-warning" onclick="Limpiar()" />
</form>

<h1 class="text-center">listado Pagina</h1>
<table class="table table-dark">
    <thead class="bg-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iidPagina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mensaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.controlador)
            </th>
            <th>
                Operaciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iidPagina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mensaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.controlador)
            </td>
            <td>
                <i class="fa fa-trash btn btn-danger" aria-hidden="true"
                   onclick="EliminarPagina(@item.iidPagina)">
                </i>

                <!--boton editar-->
                <a class="fa fa-edit btn btn-primary" aria-hidden="true"
                   asp-controller="Pagina" asp-action="Editar"
                   asp-route-id="@item.iidPagina">

                </a>
            </td>
            
        </tr>
}
    </tbody>
</table>

<form asp-action="Eliminar" asp-controller="Pagina" 
      method="post" id="frmEliminar">

    <input id="txtId" name="iidPagina" type="hidden" />
</form>

<script src="~/js/sweetAlert.js"></script>
<script src="~/js/generic.js"></script>

<script>
    function Limpiar() {
        document.getElementById("mensaje").value = "";
        document.getElementById("frmFormulario").submit();

    }

    function EliminarPagina(idpagina) {
        document.getElementById("txtId").value = idpagina;

        mostrarModal().then(res => {
            if (res.value) {
                var frmEliminar = document.getElementById("frmEliminar");
                frmEliminar.submit();
            }
        })

    }

</script>