@model IEnumerable<MiPrimeraAppNetCore.Clases.MedicamentoCLS>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> listaForma = ViewBag.listaForma;
}

<a class="btn btn-outline-primary" asp-action="Agregar" asp-controller="Medicamento">Agregar</a>

<form style="display:grid; grid-template-columns:1fr 2fr" class="mb-3" id="frmEnviar">
    <label>Ingrese el nombre de la forma farmaceutica</label>
    @Html.DropDownList("iidFormaFarmaceutica",listaForma, new {@class="form form-control" })
</form>


<h1 class="text-center" >Listado Medicamentos</h1>

<p>

<table class="table table-dark">
    <thead class="bg-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iidMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreFormaFarmaceutica)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iidMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreFormaFarmaceutica)
            </td>
           
        </tr>
}
    </tbody>
</table>

<script>
    var iidFormaFarmaceutica = document.getElementById("iidFormaFarmaceutica");
    iidFormaFarmaceutica.onchange = function () {
        document.getElementById("frmEnviar").submit();
    }

</script>