@model IEnumerable<MiPrimeraAppNetCore.Clases.MedicamentoCLS>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> listaForma = ViewBag.listaForma;
}

<a class="btn btn-outline-primary" asp-action="Agregar" asp-controller="Medicamento">Agregar</a>

<form style="display:grid; grid-template-columns:1fr 2fr" class="mb-3" id="frmEnviar">
    <label>Ingrese el nombre de la forma farmaceutica</label>
    @Html.DropDownList("iidFormaFarmaceutica", listaForma, new { @class = "form form-control" })
</form>


<h1 class="text-center">Listado Medicamentos</h1>
<!--Botones para exportar-->
<a class="btn btn-dark" asp-action="Agregar" asp-controller="Especialidad">Agregar</a>
<input type="button" value="exportar Excel" class="btn btn-dark" onclick="ExportarExcel()" />
<input type="button" value="exportar word" class="btn btn-dark" onclick="ExportarWord()" />
<input type="button" value="exportar PDF" class="btn btn-dark" onclick="ExportarPdf()" />
<input type="button" value="Imprimir" class="btn btn-dark" onclick="Imprimir()" />

<form asp-controller="Medicamento" asp-action="Exportar" id="frmReporte">
    <table class="table" id="tabla">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.iidMedicamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombreFormaFarmaceutica)
                </th>
                <th>
                    Operaciones
                </th>

            </tr>
            <tr id="tcheckbox">
                <!--nombrePropiedades= del metodo exportar excel-->
                <th>
                    <input type="checkbox" checked name="nombrePropiedades" value="iidMedicamento" />
                    <input type="hidden" name="tipoReporte" id="tipoReporte" />
                </th>
                <th><input type="checkbox" checked name="nombrePropiedades" value="nombre" /></th>
                <th><input type="checkbox" checked name="nombrePropiedades" value="precio" /></th>
                <th><input type="checkbox" checked name="nombrePropiedades" value="stock" /></th>
                <th><input type="checkbox" checked name="nombrePropiedades" value="nombreFormaFarmaceutica" /></th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.iidMedicamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreFormaFarmaceutica)
                    </td>

                    <td>
                        <!--boton eliminar-->
                        <i class="fa fa-trash btn btn-danger" aria-hidden="true"
                           onclick="EliminarMedicamento(@item.iidMedicamento)">
                        </i>

                        <!--boton editar-->
                        <a class="fa fa-edit btn btn-primary" aria-hidden="true"
                           asp-controller="Medicamento" asp-action="Editar"
                           asp-route-id="@item.iidMedicamento">

                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</form>

<!--formulario para eliminar-->
<form asp-action="Eliminar" asp-controller="Medicamento"
      method="post" id="frmEnviarEliminar">
    <input type="hidden" id="txtIdMedicamento" name="iidMedicamento" />
</form>


<!--importacion de los scripts-->
<script src="~/js/sweetAlert.js"></script>
<script src="~/js/generic.js"></script>

<script>

  

    //realizar la busqueda por combobox
    var iidFormaFarmaceutica = document.getElementById("iidFormaFarmaceutica");
    iidFormaFarmaceutica.onchange = function () {
        document.getElementById("frmEnviar").submit();
    }

    //eliminacion
    function EliminarMedicamento(iidMedicamento) {
        document.getElementById("txtIdMedicamento").value = iidMedicamento;
        mostrarModal().then(res => {
            if (res.value) {
                var frmEnviarEliminar = document.getElementById("frmEnviarEliminar");
                frmEnviarEliminar.submit();
            }
        })

    }

</script>
