@model IEnumerable<MiPrimeraAppNetCore.Clases.TipoUsuarioCLS>

@{
    ViewData["Title"] = "Index";
    string nombre = ViewBag.nombre;
    string descripcion = ViewBag.descripcion;
    int iidTipoUsuario = ViewBag.IidTipoUsuario;
}



<form asp-controller="TipoUsuario" asp-action="Index">
    <input type="submit" value="Enviar" class="btn btn-outline-primary" />
    <a class="btn btn-outline-primary" asp-action="Agregar">Nuevo</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.iidTipoUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    Operaciones
                </th>
            </tr>

            <tr>
                <th>
                    <!--si el id es cero-->
                    @if (iidTipoUsuario == 0)
                    {
                        <input type="number" name="iidTipoUsuario" class="form-check form-control" />
                    }
                    else
                    {
                        <input type="number" value="@iidTipoUsuario" name="iidTipoUsuario" class="form-check form-control" />

                    }
                </th>
                <th>
                    <input type="text" value="@nombre" name="nombre" class="form-check form-control" />
                </th>
                <th>
                    <input type="text" value="@descripcion" name="descripcion" class="form-check form-control" />
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.iidTipoUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        <i class="fa fa-trash btn btn-danger" aria-hidden="true"
                           onclick="EliminarTipoUsuario(@item.iidTipoUsuario)">
                        </i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<form asp-action="Eliminar" asp-controller="TipoUsuario" 
      method="post" id="frmEliminar">

    <input type="hidden" id="txtTipoUsu" name="iidTipoUsuario" />
</form>

<script src="~/js/sweetAlert.js"></script>
<script src="~/js/generic.js"></script>

<script>

    function EliminarTipoUsuario(idTipoUsuario) {

        document.getElementById("txtTipoUsu").value = idTipoUsuario;
        mostrarModal().then(res => {
            if (res.value) {
                var frmEliminar = document.getElementById("frmEliminar");
                frmEliminar.submit();
            }
        })
    }

</script>